.IndustryContainer {
  display: flex;
  text-align: center;
  width: 100%;
  height: auto;

  .companyCard {
    text-align: center;
    width: 100%;

    h1 {
      background-color: rgb(13, 13, 107);
      color: white;
      padding: 20px;
    }
    

    .CompanyList {
      // height: 300px;
      display: flex;
      flex-wrap: inherit;
      // width: 100%;
      // justify-content: space-evenly;
      align-items: center;
      border: 1px solid black;
      text-align: center;
      padding: 50px 50px;
      // margin: 30px;

      .CardDeck {
        
        // display: flex;
        border: 1px solid black;
        // width: 100%;
        padding: 20px;
        border: 1px solid black;
        // width: 50%;
      }
      
    }
  }
}